.nav-background{
    background-color: #E4F9F5;
}

#btn-register{
    background-color: #11999E;
    border: none
}

#btn-sewa{
    background-color: #11999E;
    border: none
}

.section-mb{
    margin-bottom: 120px;
}